<style>
body { 
  font-family: "Google Sans",Roboto,Arial,sans-serif; 
  color: #333; 
  background: url("collaboration.webp") no-repeat center center fixed; 
  background-size: cover;
  margin: 0; 
  padding: 0; 
  padding-top: 200px; /* Adjust based on the height of your header */
  padding-bottom:  500px;
}
header { 
  position: fixed; /* Make header always visible */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: rgba(0, 14, 119, 0.5); /* Semi-transparent background */
  color: white;
  z-index: 1; /* Ensures header stays above other content */
}
nav { 
  display: flex;
  justify-content: flex-end;
}
nav a { 
  color: white; 
  margin-left: 20px; 
  text-decoration: none; 
  font-size: 1rem;
}
a:hover {
  background-color: red; 
  border-radius: 5px;
  padding: 2px 4px;
  text-decoration:none;
}
section { 
  padding: 30px; 
  margin: 70px 20px; 
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.footer {
  background: rgba(8, 133, 64, 0.8);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}
.footer a {
  color: white; 
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
</style>